@model IEnumerable<CinemaApp.BL.DTOs.MovieDTOs.Movie.MovieDTO>
@{
    ViewData["Title"] = "Absolute cinema";
}

@if (Model == null || !Model.Any())
{
    <p class="text-center mt-4">No avaible films.</p>
}
else
{
    <div class="container">
        <div class="row justify-content-center">
            @foreach (var movie in Model)
            {
                <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                    <div class="card text-center shadow-sm">
                        <img src="@movie.PosterURL" class="card-img-top" alt="Film poster"
                             style="height: 250px; width: 100%; object-fit: cover;">
                        <div class="card-body">
                            <h5 class="card-title">@movie.Title</h5>
                            <p class="card-text"><strong>Genre:</strong> @movie.GenreID</p>
                            <p class="card-text"><strong>Rating:</strong> @movie.Rating</p>
                            <a asp-controller="Movie" asp-action="UserDetails" asp-route-id="@movie.MovieID" class="btn btn-primary btn-sm">Details</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
