@model IEnumerable<CinemaApp.BL.DTOs.MovieDTOs.Movie.MovieDTO>
@{
    ViewData["Title"] = "Головна сторінка";
}

<button onclick="sortMovies('ReleaseDate')">Сортувати за датою виходу</button>
<button onclick="sortMovies('Rating')">Сортувати за рейтингом</button>

<div class="image-container">
    <div class="image-wrapper">
        <div id="movies-container">
            @foreach (var movie in Model)
            {
                <div class="movie-item" data-release="@movie.ReleaseDate.ToString("yyyy-MM-dd")" data-rating="@movie.Rating">
                    <div class="badge-container">
                        @if (@movie.ReleaseDate >= DateTime.UtcNow.AddDays(-100))
                        {
                            <div class="new-badge">NEW</div>
                        }
                        @if (@movie.Rating == 5)
                        {
                            <div class="relevant-badge">RELEVANT</div>
                        }
                    </div>
                    <img src=@movie.PosterURL alt="Image @movie.MovieID" class="openModal" data-id="@movie.MovieID">
                    <h3>@movie.Title</h3>
                </div>
            }
        </div>
    </div>
</div>

@foreach (var movie in Model)
{
    <div id="modal-@movie.MovieID" class="modal">
        <div class="modal-content">
            <span class="close" data-id="@movie.MovieID">&times;</span>
            <button class="back-btn" data-id="@movie.MovieID" style="display:none;">Назад</button>
            <h3>@movie.Title</h3>
            <iframe src=@movie.TrailerURL></iframe>
            <p>@movie.Description</p>
            <p>Жанр – @movie.GenreName</p>
            <p>Тривалість – @movie.Duration.TotalMinutes.ToString("0") хв</p>
            <p>Дата виходу – @movie.ReleaseDate.ToString("dd.MM.yyyy")</p>
            <p>Рейтинг – @movie.Rating</p>
            <p>Вікове обмеження – @movie.AgeLimit+</p>
            <button class="open-actors" data-id="@movie.MovieID">Актори</button>
    
            <div class="actors-modal">
                <span class="close-actors">&times;</span>
                <h3>Актори</h3>
                <p>Актори 1</p>
                <p>Актори 2</p>
                <p>Актори 3</p>
                <p>Актори 4</p>
                <p>Актори 5</p>
            </div>
        </div>
    </div>
}