@model CinemaApp.DAL.Entities.Movie

@{
    ViewBag.Title = "Edit Movie";
}

<h2>Edit Movie</h2>

@using (Html.BeginForm("Edit", "Movies", FormMethod.Post))
{
    @Html.HiddenFor(model => model.movieId)
    <div class="form-group">
        @Html.LabelFor(model => model.title)
        @Html.TextBoxFor(model => model.title, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.description)
        @Html.TextBoxFor(model => model.description, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.genreId)
        @Html.TextBoxFor(model => model.genreId, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.duration)
        @Html.TextBoxFor(model => model.duration, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.releaseDate)
        @Html.TextBoxFor(model => model.releaseDate, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.PosterURL)
        @Html.TextBoxFor(model => model.PosterURL, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.TrailerURL)
        @Html.TextBoxFor(model => model.TrailerURL, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.rating)
        @Html.TextBoxFor(model => model.rating, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ageLimit)
        @Html.TextBoxFor(model => model.ageLimit, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
}
