@model IEnumerable<CinemaApp.DAL.Entities.Movie>

@{
    ViewBag.Title = "Movies";
}

<h2>Movies</h2>

<table class="table">
    <tr>
        <th>Movie ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Genre ID</th>
        <th>Duration</th>
        <th>Release Date</th>
        <th>Poster URL</th>
        <th>Trailer URL</th>
        <th>Rating</th>
        <th>Age Limit</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.movieId</td>
            <td>@item.title</td>
            <td>@item.description</td>
            <td>@item.genreId</td>
            <td>@item.duration</td>
            <td>@item.releaseDate.ToShortDateString()</td>
            <td>@item.PosterURL</td>
            <td>@item.TrailerURL</td>
            <td>@item.rating</td>
            <td>@item.ageLimit</td>
        </tr>
    }
</table>

<h3>Create New Movie</h3>

@using (Html.BeginForm("Create", "Movies", FormMethod.Post))
{
    <div class="form-group">
        @Html.TextBox("title", null, new { @placeholder = "Title" })
    </div>
    <div class="form-group">
        @Html.TextBox("description", null, new { @placeholder = "Description" })
    </div>
    <div class="form-group">
        @Html.TextBox("genreId", null, new { @placeholder = "Genre ID" })
    </div>
    <div class="form-group">
        @Html.TextBox("duration", null, new { @placeholder = "Duration" })
    </div>
    <div class="form-group">
        @Html.TextBox("releaseDate", null, new { @placeholder = "Release Date" })
    </div>
    <div class="form-group">
        @Html.TextBox("PosterURL", null, new { @placeholder = "Poster URL" })
    </div>
    <div class="form-group">
        @Html.TextBox("TrailerURL", null, new { @placeholder = "Trailer URL" })
    </div>
    <div class="form-group">
        @Html.TextBox("rating", null, new { @placeholder = "Rating" })
    </div>
    <div class="form-group">
        @Html.TextBox("ageLimit", null, new { @placeholder = "Age Limit" })
    </div>
    <br>
    <button type="submit" class="btn btn-success">Create</button>
    <br>
}

<h3>Delete Movie By ID</h3>

@using (Html.BeginForm("DeleteById", "Movies", FormMethod.Post))
{
    <div class="form-group">
        @Html.TextBox("movieId", null, new { @placeholder = "Movie ID to delete", @class = "form-control" })
    </div>
    <br>
    <button type="submit" class="btn btn-danger">Delete</button>
    <br>
}

<h3>Find Movie By ID</h3>

@using (Html.BeginForm("FindById", "Movies", FormMethod.Post, new { id = "findMovieForm" }))
{
    <div class="form-group">
        @Html.TextBox("movieId", null, new { @placeholder = "Movie ID to find", @class = "form-control" })
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Find</button>
    <br>
}

<div id="findResult"></div>

<h3>Edit Movie By ID</h3>

@using (Html.BeginForm("EditById", "Movies", FormMethod.Post))
{
    <div class="form-group">
        @Html.TextBox("movieId", null, new { @placeholder = "Movie ID to edit", @class = "form-control" })
    </div>
    <br>
    <button type="submit" class="btn btn-warning">Edit</button>
    <br>
}

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#findMovieForm").submit(function (event) {
                event.preventDefault();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("FindById", "Movies")',
                    data: $(this).serialize(),
                    success: function (response) {
                        if (response.success) {
                            $("#findResult").html("Movie Title: " + response.title);
                        } else {
                            $("#findResult").html(response.message);
                        }
                    },
                    error: function () {
                        $("#findResult").html("An error occurred while trying to find the movie.");
                    }
                });
            });
        });
    </script>
}
