@model IEnumerable<CinemaApp.BL.DTOs.MovieDTOs.Session.SessionDTO>

<h2>Avaible sessions</h2>

<table class="table">
    <thead>
        <tr>
            <th>Session ID</th>
            <th>Film</th>
            <th>Date</th>
            <th>Time</th>
            <th>Hall</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var session in Model)
        {
            <tr>
                <td>@session.SessionID</td>
                <td>@session.MovieTitle</td>
                <td>@session.Date.ToString("M")</td>
                <td>@session.StartTime.ToString("T")</td>
                <td>@session.Hall</td>
                <td><a asp-controller="Ticket" asp-action="TicketCreate" class="btn btn-primary">Book a ticket</a></td>
            </tr>
        }
    </tbody>
</table>
