@model IEnumerable<CinemaApp.BL.DTOs.MovieDTOs.Movie.MovieDto>

<h2>Список фільмів</h2>
<a asp-action="Create" class="btn btn-primary">Add new film</a>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Genre</th>
            <th>Actions</th>
        </tr>   
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@movie.Title</td>
                <td>@movie.Description</td>
                <td>@movie.GenreId</td>
                <td>
                    <a asp-action="Details" asp-route-id="@movie.MovieId">Details</a> |
                    <a asp-action="UserDetails" asp-controller="Movie" asp-route-id="@movie.MovieId">UserDetails</a>
                    <a asp-action="Edit" asp-route-id="@movie.MovieId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@movie.MovieId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

